<mat-toolbar>
	<span>{{service.form.controls['$key'].value?"Modify Employee":"New Employee"}}</span>
	<span class="fill-remaining-space"></span>
	<button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="service.form" class="normal-form" (submit)="onSubmit()">
	<mat-grid-list cols="2" rowHeight="300px">
		<mat-grid-tile>
			<div class="controles-container">
				<input type="hidden" formControlName="$key">
				<mat-form-field>
					<input formControlName="name" type="text" matInput placeholder="Your Name*">
					<mat-error>This field is mandatory.</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input formControlName="age" type="number" matInput placeholder="Your Age">
					<mat-error>This field is manditory.</mat-error>
				</mat-form-field>
				<mat-form-field>
					<input formControlName="salary" type="number" matInput placeholder="Your Salary">
					<mat-error>This field is manditory.</mat-error>
				</mat-form-field>
			</div>
		</mat-grid-tile>
		<button mat-raised-button color="primary" type="submit" [disabled]="service.form.invalid">Submit</button>
		<button mat-raised-button color="warn" (click)="onClear()">Clear</button>
	</mat-grid-list>
</form>